/* STYLESHEET - MainPage.aspx */
root {
    /* COLORES / SETTINGS */
    --water: #ECFFFA;
    --blackBlueTransparency: rgba(17, 34, 50, 0.3);
    --greenTransparency: rgba(28, 59, 0, 0.3);
    --green: rgba(28, 59, 0, 0.9);
    --gray: #333;
    --blue: #0367a6;
    --lightblue: #008997;
    --background: #D8D8D8;
    --details: #586F7C;
}

/*----------------------------------------HEADER-----------------------------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:static;
    padding: 40px 20px;
    background-color: rgba(14, 131, 136, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 70px;
    width: 98.75%;
    margin-top: -15px;
    margin-left: -8.0px;
}

    header img {
        height: 50px;
    }

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

header nav li {
    margin: 0 10px;
}

header nav a {
    color: #ECFFFA;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

    header nav a:hover {
        color: #fbb03b;
    }

/*ID pMain: Representa a los páneles principales de la aplicación. */
#pMain {
    border-block: double;
    font-family: 'Poppins', sans-serif;
    min-height: 73.6vh;
    margin-left: -8px;
    width: 100.5%;
}

#logid {
    margin-left: 43%;
    margin-top: 10%;
}

    /*Clase .btn: Representa a los botones principales de la aplicación. */
.btn {
    border-style: double;
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.btn_panel {
    border-style: none;
    background-color: var(--water);
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

/* STYLESHEET - Register.aspx */

/*ID pBody: Representa a los páneles que se encuentran en el cuerpo de las páginas de la aplicación. */
#pBody {
    border-block: double;
    text-align: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -130%;
    max-height: 700px;
    margin-left: -8px;
    width: 100.5%;
}

/*ID lblMain: Representa a las etiquetas principales de la aplicación. */
#lblMain {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/*Clase lbl: Representa a las etiquetas de la aplicación. */
.lbl {
    font-size: large;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/* ESTABLECE EL PADDING A #texto */
.txt {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: #ECFFFA;
    border-radius: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

/*ID lblMain: Representa a las etiquetas de nombre de la aplicación. */
#lblName {
}

#btnLoginOpt {
    border: none;
    font-family: 'Poppins', sans-serif;
}


/*---------------------------------------------------------------------------------------*/

#imgLogo {
    margin-left: 40px;
}

#lblWelcome {
    margin-left: 60px;
}

#btnStartRegister {
    margin-left: 15px;
    margin-bottom: 5px;
}


/*--------------------------------------FOOTER------------------------------------------*/

footer {
    background-color: #0E8388;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    margin-left: -8.0px;
}

    footer nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    footer nav li {
        margin: 0 15px 0 0;
        display: inline-block;
    }

    footer nav a {
        color: #fff;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    }

        footer nav a:hover {
            color: #fbb03b;
        }

@media screen and (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

        footer nav {
            margin-bottom: 20px;
        }
}
