/* STYLESHEET - MainPage.aspx */
root {
    /* COLORES / SETTINGS */
    --water: #ECFFFA;
    --blackBlueTransparency: rgba(17, 34, 50, 0.3);
    --greenTransparency: rgba(28, 59, 0, 0.3);
    --green: rgba(28, 59, 0, 0.9);
    --gray: #333;
    --blue: #0367a6;
    --lightblue: #008997;
    --background: #D8D8D8;
    --details: #586F7C;
}

/*----------------------------------------HEADER-----------------------------------------*/
#MainPage {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: -0.4%;
}

#pHead {
    position: relative;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: rgba(14, 131, 136, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 70px;
    margin-top: -10px;
}

    header img {
        height: 50px;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }

    header nav li {
        margin: 0 10px;
    }

    header nav a {
        color: #ECFFFA;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    }

        header nav a:hover {
            color: #fbb03b;
        }

/*ID pMain: Representa a los páneles principales de la aplicación. */
#pMain {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

#logid {
    margin-left: 43%;
    padding-top: 10%;
    padding-bottom: 14%;
}

/*Clase .btn: Representa a los botones principales de la aplicación. */
.btn {
    border-style: double;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #1c3334;
}

    .btn:hover {
        background-color: #6eb4b7;
        color: black;
    }

.btn_panel {
    border-style: none;
    background-color: var(--water);
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

/* STYLESHEET - Register.aspx */

/*ID pBody: Representa a los páneles que se encuentran en el cuerpo de las páginas de la aplicación. */
#pBody {
    text-align: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(../Resources/ContactBlur.png);
    background-size: cover;
    background-position: center;
}

#bgSquare {
    background-color: rgba(0, 137, 151, 0.5);
}

#loginPage {
    padding-top: 10%;
    padding-bottom: 14%;
    text-align: center;
    align-content: center;
}

.mainlblContainer {
    background-color: rgba(0, 137, 151, 0.5);
}

#body0 {
    padding-top: 10%;
}

#body1 {
    margin-right: 20%;
    margin-top: -17%;
}

#body2 {
    margin-left: 20%;
    margin-top: -14%;
}

#body3 {
    margin-top: 2%;
}

#body4 {
    padding-bottom: 4%;
}

/*Class lblMain: Representa a las etiquetas principales de la aplicación. */
.lblMain {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/*Clase lbl: Representa a las etiquetas de la aplicación. */
.lbl {
    font-size: large;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/* ESTABLECE EL PADDING A #texto */
.txt {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: #ECFFFA;
    border-radius: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

/*ID lblMain: Representa a las etiquetas de nombre de la aplicación. */
#lblName {
}

#btnLoginOpt {
    border: none;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 137, 151, 0.5);
}

    #btnLoginOpt:hover {
        background-color: #6eb4b7;
        color: white;
    }


/*---------------------------------------------------------------------------------------*/

#imgLogo {
    margin-left: 40px;
}

#lblWelcome {
    margin-left: 60px;
}

#btnStartRegister {
    margin-left: 15px;
    margin-bottom: 5px;
}


/*--------------------------------------FOOTER------------------------------------------*/

#pBot {
    position: relative;
}

footer {
    background-color: #0E8388;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

    footer nav ul {
        list-style: none;
        margin-left: 10px;
        padding: 0;
    }

    footer nav li {
        margin: 0 15px 0 0;
        display: inline-block;
    }

    footer nav a {
        color: #fff;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    }

        footer nav a:hover {
            color: #fbb03b;
        }

@media screen and (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

        footer nav {
            margin-bottom: 20px;
        }
}

/*--------------------------------------ABOUT US------------------------------------------*/

#pAbout {
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.imageAbout {
    background-image: url(../Resources/AboutUs.png);
    background-size: cover;
    height: 630px;
    padding-top: 10%;
}

.infoAbout {
    font-size: 18px;
    height: 610px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 30%;
}

.btnContact {
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 30px;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: 0.02em;
    background-color: #1c3334;
    font-family: 'Poppins', sans-serif;
}

    .btnContact:hover {
        background-color: #6eb4b7;
        color: #ffffff;
    }

/*--------------------------------------CONTACT------------------------------------------*/

#pContact {
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerCont {
    background-image: url(../Resources/Contact.png);
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
}

#formContact {
    background-color: #6eb4b79F;
    padding: 2%;
    left: 40%;
    position: absolute;
    margin-top: 30px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    font: bold 14px arial;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

#nameContact {
    margin-left: 2px;
}

#emailContact {
    margin-left: 8px;
}

#messageContact {
    width: 338px;
    height: 86px;
}

/*--------------------------------------PRODUCTOS------------------------------------------*/

.shop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo1 {
    height: 90px;
    width: 100px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo2 {
    height: 90px;
    width: 120px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo3 {
    height: 100px;
    width: 170px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo4 {
    height: 90px;
    width: 90px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo5 {
    height: 100px;
    width: 220px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo6 {
    height: 100px;
    width: 170px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.shop-header h2 {
    font-size: 32px;
    margin: 0;
    color: #333;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

.shop-header span {
    font-size: 14px;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.separator {
    height: 2px;
    background-color: #ccc;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}



.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.product {
    width: 300px;
    margin: 20px;
}

    .product img {
        width: 100%;
    }

    .product h3 {
        margin-top: 10px;
        font-size: 20px;
    }

    .product p {
        margin-top: 5px;
        font-size: 16px;
    }

    .product button {
        margin-top: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }


